# ==== Flutter ====
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
pubspec.lock

# Gradle
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar

# Android local config
local.properties
GeneratedPluginRegistrant.java
.cxx/

# Captures
captures/

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Flutter/ephemeral/

# Linux
linux/flutter/

# Windows
windows/flutter/

# Web
web/.dart_tool/

# ==== Keystore & Keys ====
key.properties
**/*.jks
**/*.keystore

# ==== Visual Studio (Web API) ====
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==== .NET artifacts ====
bin/
obj/
*.dbmdl
*.pdb
*.cache
*.log

# ==== VS Code ====
.vscode/
.history/

# ==== Misc ====
*.iml
*.ipr
*.iws
.DS_Store
*.swp
*.lock
.idea/
